.task-content {
    flex-grow: 1;
  }
  
  .task-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .task-icon {
    cursor: pointer;
    padding: 0 5px;
  }
  
  .task-date {
    font-size: 0.8em;
    color: #888;
    text-align: left;
  }
  .kanban-column {
    background-color: #ebecf0;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
  }